<%- include('../partials/navbar_home') %>

<div class="container mt-3">
  <h2 class="my-5">Stack Underflow</h2>
  <p>
    TRYCATCHWEB is a web development company, young expert and composed of a
    team of computer engineers, of which you are part. To improve team
    productivity; the administration decided to develop an internal solution
    named “StackUnderflow”, where you can find the best answer to your technical
    question and help other developers from other teams to answer their various
    questions and encountered problems.
  </p>
</div>
