<%- include('../partials/navbar_home') %>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img
          style="border: none; max-width: 150px; max-height: 100px"
          class="img-responsive rounded mx-auto d-block my-2"
          src="/images/icon.png"
          alt="Icon"
        />
        <h2 class="my-2">Join the Stack Underflow</h2>
        <a href="/auth/register" class="btn btn-primary btn-block my-2"
          >Register</a
        >
        <a href="/auth/login" class="btn btn-secondary btn-block my-2">Login</a>
      </div>
    </div>
  </div>
</div>
